body {
    background-color: rgb(255, 238, 143);
    margin: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
}

/* #main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
} */

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

img {
    width: 330px;
    height: 200px;
}
